
<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 90vh;">
      <div class="col-md-11">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-primary btn-block mb-3">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <img src="../../../assets/add_payee.svg" alt="Image 2" class="button-icon">
                  <span class="straightline"> | </span>
                  <span class="ml-2 button-text">Add Beneficiary</span>
                </div>
                <img src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2" style="width: 35px; height: 35px;">
              </div>
            </button>
    
            <button class="btn btn-primary btn-block mb-3" (click)="ViewBeneficiary()">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <img src="../../../assets/view_payee.svg" alt="Image 2" class="button-icon">
                  <span class="straightline"> | </span>
                  <span class="ml-2 button-text">View Beneficiary</span>
                </div>
                <img src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2" style="width: 35px; height: 35px;">
              </div>
            </button>
    
            <button class="btn btn-primary btn-block mb-3" (click)="Sendmoney()">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <img src="../../../assets/send_money.svg" alt="Image 2" class="button-icon">
                    <span class="straightline"> | </span>
                    <span class="ml-2 button-text">Send Money</span>
                  </div>
                  <img src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2" style="width: 35px; height: 35px;">
                </div>
              </button>

          </div>
        </div>
      </div>
    </div>
  </div>
  