
  .btn-primary {
    background-color: white;
    border-width: 0px 0px 5px 0px;
    border-color: #ae2e2d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    
  }
  
  .container-fluid {
    margin-left: 0%;
    width: 100%;
  }
  
  .card {
    /* padding: 5% 3% 5% 3%; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);  */
    margin-top: -15%;
  }
  
  .btn {
    height: 75px;
  }
  
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active {
    background-color: white !important;
    border-color: #ae2e2d !important;   
    /* box-shadow: none !important;  */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
  }
  
  .button-icon {
    width: 35px;
    height: 35px;
    margin-right: 20px;
  }
  
  .straightline {
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .button-text {
    margin-left: 20px;
  }
  
  span{
    color: black;
  }