 <!-- <div class="outer-container">
    <div class="main-container">
      <button class="sub-button" (click)="clicked()">
        <div class="button-content">
          <img width="35px" height="35px" src="../../../assets/group_23.svg" alt="Image 2">
          <span class="straightline"> | </span>
          <span class="textlabel"> Apply Now</span>
          <img width="35px" height="35px" src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2">
        </div>
      </button>
  
      <button class="sub-button" (click)="securemailbutton()">
        <div class="button-content">
          <img width="35px" height="35px" src="../../../assets/secure_mailbox_white.svg" alt="Image 2">
          <span class="straightline"> | </span>
          <span class="textlabel"> Secure MailBox</span>
          <img width="35px" height="35px" src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2">
        </div>
      </button>
  
      <button class="sub-button" disabled>
        <div class="button-content">
          <img width="35px" height="35px" src="../../../assets/group_18.svg" alt="Image 2">
          <span class="straightline"> | </span>
          <span class="textlabel"> Track Status</span>
          <img width="35px" height="35px" src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2">
        </div>
      </button>
  
      <button class="sub-button" disabled>
        <div class="button-content">
          <img width="35px" height="35px" src="../../../assets/group_4.svg" alt="Image 2">
          <span class="straightline"> | </span>
          <span class="textlabel"> Refund Application </span>
          <img width="35px" height="35px" src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2">
        </div>
      </button>
    </div>
  </div>
  -->
<!-- down bts -->
<!-- 

   <div class="container-fluid ">
    <div class="row justify-content-center align-items-center" style="height: 90vh;">
      <div class="col-md-11">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-primary btn-block mb-3" (click)="clicked()">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <img src="../../../assets/group_23.svg" alt="Image 2" style="width: 35px; height: 35px;">
                  <span class="ml-2">Apply Now</span>
                </div>
                <img src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2" style="width: 35px; height: 35px;">
              </div>
            </button>
  
            <button class="btn btn-primary btn-block mb-3" (click)="securemailbutton()">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <img src="../../../assets/secure_mailbox_white.svg" alt="Image 2" style="width: 35px; height: 35px;">
                  <span class="ml-2">Secure MailBox</span>
                </div>
                <img src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2" style="width: 35px; height: 35px;">
              </div>
            </button>
  
            <button class="btn btn-secondary btn-block mb-3" disabled>
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <img src="../../../assets/group_18.svg" alt="Image 2" style="width: 35px; height: 35px;">
                  <span class="ml-2">Track Status</span>
                </div>
                <img src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2" style="width: 35px; height: 35px;">
              </div>
            </button>
  
            <button class="btn btn-secondary btn-block mb-3" disabled>
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <img src="../../../assets/group_4.svg" alt="Image 2" style="width: 35px; height: 35px;">
                  <span class="ml-2">Refund Application</span>
                </div>
                <img src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2" style="width: 35px; height: 35px;">
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->

   <div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 90vh;">
      <div class="col-md-11">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-primary btn-block mb-3" (click)="clicked()">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <img src="../../../assets/group_23.svg" alt="Image 2" class="button-icon">
                  <span class="straightline"> | </span>
                  <span class="ml-2 button-text">Apply Now</span>
                </div>
                <img src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2" style="width: 35px; height: 35px;">
              </div>
            </button>
    
            <button class="btn btn-primary btn-block mb-3" (click)="securemailbutton()">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <img src="../../../assets/secure_mailbox_white.svg" alt="Image 2" class="button-icon">
                  <span class="straightline"> | </span>
                  <span class="ml-2 button-text">Secure MailBox</span>
                </div>
                <img src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2" style="width: 35px; height: 35px;">
              </div>
            </button>
    
            <button class="btn btn-secondary btn-block mb-3" disabled>
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <img src="../../../assets/group_18.svg" alt="Image 2" class="button-icon">
                  <span class="straightline"> | </span>
                  <span class="ml-2 button-text">Track Status</span>
                </div>
                <img src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2" style="width: 35px; height: 35px;">
              </div>
            </button>
    
            <button class="btn btn-secondary btn-block mb-3" disabled>
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <img src="../../../assets/group_4.svg" alt="Image 2" class="button-icon">
                  <span class="straightline"> | </span>
                  <span class="ml-2 button-text">Refund Application</span>
                </div>
                <img src="../../../assets/arrow.933ce29bed9083730f1b.svg" alt="Image 2" style="width: 35px; height: 35px;">
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  