
<div class="main-container">
    <button class="sub-button">
        <div class="sub-container" routerLink="/home/blockedAccount" routerLinkActive="isActive">
            <img src="../../../assets/block_account.svg" alt="Image 1">
            <div class="overlay">Blocked Account</div>
        </div>
    </button>
    <button class="sub-button" disabled>
        <div class="sub-container disabled">
            <img src="../../../assets/current_account.svg" alt="Image 2">
            <div class="overlay">Current Account</div>
        </div>
    </button>
  </div>
  