
   <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="password">Password</label>
      <div class="input-container">

      
      <input id="password" type="password" formControlName="password">
      <fa-icon *ngIf="passwordForm.get('confirmPassword')?.valid && !passwordForm.errors?.['mismatch'] && (passwordForm.get('confirmPassword')?.touched || passwordForm.get('confirmPassword')?.dirty)" [icon]="faCheck" class="valid-icon-inside"></fa-icon>
    </div>
      <div *ngIf="passwordForm.get('password')">
        <p [ngClass]="{'invalid': passwordForm.get('password')?.errors?.['required'] || passwordForm.get('password')?.pristine, 'valid': !passwordForm.get('password')?.errors?.['required'] && !passwordForm.get('password')?.pristine}">
          <fa-icon [icon]="passwordForm.get('password')?.errors?.['required'] || passwordForm.get('password')?.pristine ? faTimes : faCheck" class="{{ passwordForm.get('password')?.errors?.['required'] || passwordForm.get('password')?.pristine ? 'invalid-icon' : 'valid-icon' }}"></fa-icon>
          Password is required
        </p>
        <p [ngClass]="{'invalid': passwordForm.get('password')?.errors?.['minlength'] || passwordForm.get('password')?.pristine, 'valid': !passwordForm.get('password')?.errors?.['minlength'] && !passwordForm.get('password')?.pristine}">
          <fa-icon [icon]="passwordForm.get('password')?.errors?.['minlength'] || passwordForm.get('password')?.pristine ? faTimes : faCheck" class="{{ passwordForm.get('password')?.errors?.['minlength'] || passwordForm.get('password')?.pristine ? 'invalid-icon' : 'valid-icon' }}"></fa-icon>
          Password must be at least 8 characters
        </p>
        <p [ngClass]="{'invalid': passwordForm.get('password')?.errors?.['hasNumber'] || passwordForm.get('password')?.pristine, 'valid': !passwordForm.get('password')?.errors?.['hasNumber'] && !passwordForm.get('password')?.pristine}">
          <fa-icon [icon]="passwordForm.get('password')?.errors?.['hasNumber'] || passwordForm.get('password')?.pristine ? faTimes : faCheck" class="{{ passwordForm.get('password')?.errors?.['hasNumber'] || passwordForm.get('password')?.pristine ? 'invalid-icon' : 'valid-icon' }}"></fa-icon>
          Password must contain at least one number
        </p>
        <p [ngClass]="{'invalid': passwordForm.get('password')?.errors?.['hasUpperCase'] || passwordForm.get('password')?.pristine, 'valid': !passwordForm.get('password')?.errors?.['hasUpperCase'] && !passwordForm.get('password')?.pristine}">
          <fa-icon [icon]="passwordForm.get('password')?.errors?.['hasUpperCase'] || passwordForm.get('password')?.pristine ? faTimes : faCheck" class="{{ passwordForm.get('password')?.errors?.['hasUpperCase'] || passwordForm.get('password')?.pristine ? 'invalid-icon' : 'valid-icon' }}"></fa-icon>
          Password must contain at least one uppercase letter
        </p>
        <p [ngClass]="{'invalid': passwordForm.get('password')?.errors?.['hasLowerCase'] || passwordForm.get('password')?.pristine, 'valid': !passwordForm.get('password')?.errors?.['hasLowerCase'] && !passwordForm.get('password')?.pristine}">
          <fa-icon [icon]="passwordForm.get('password')?.errors?.['hasLowerCase'] || passwordForm.get('password')?.pristine ? faTimes : faCheck" class="{{ passwordForm.get('password')?.errors?.['hasLowerCase'] || passwordForm.get('password')?.pristine ? 'invalid-icon' : 'valid-icon' }}"></fa-icon>
          Password must contain at least one lowercase letter
        </p>
        <p [ngClass]="{'invalid': passwordForm.get('password')?.errors?.['hasSpecialCharacter'] || passwordForm.get('password')?.pristine, 'valid': !passwordForm.get('password')?.errors?.['hasSpecialCharacter'] && !passwordForm.get('password')?.pristine}">
          <fa-icon [icon]="passwordForm.get('password')?.errors?.['hasSpecialCharacter'] || passwordForm.get('password')?.pristine ? faTimes : faCheck" class="{{ passwordForm.get('password')?.errors?.['hasSpecialCharacter'] || passwordForm.get('password')?.pristine ? 'invalid-icon' : 'valid-icon' }}"></fa-icon>
          Password must contain at least one special character
        </p>
      </div>
    </div>
  
    <div>
      <label for="confirmPassword">Confirm Password</label>
      <div class="input-container">  
      <input id="confirmPassword" type="password" formControlName="confirmPassword">
      <fa-icon *ngIf="passwordForm.get('confirmPassword')?.valid && !passwordForm.errors?.['mismatch'] && (passwordForm.get('confirmPassword')?.touched || passwordForm.get('confirmPassword')?.dirty)" [icon]="faCheck" class="valid-icon-inside"></fa-icon>
    </div>
      <div *ngIf="passwordForm.get('confirmPassword')">
        <p [ngClass]="{'invalid': passwordForm.errors?.['mismatch'] || passwordForm.get('confirmPassword')?.pristine, 'valid': !passwordForm.errors?.['mismatch'] && !passwordForm.get('confirmPassword')?.pristine}">
          <fa-icon [icon]="passwordForm.errors?.['mismatch'] || passwordForm.get('confirmPassword')?.pristine ? faTimes : faCheck" class="{{ passwordForm.errors?.['mismatch'] || passwordForm.get('confirmPassword')?.pristine ? 'invalid-icon' : 'valid-icon' }}"></fa-icon>
          Passwords must match
        </p>
      </div>
    </div>
  </form>
  