.beneficiary-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .beneficiary-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
  }
  
  .beneficiary-info {
    margin-bottom: 20px;
  }
  
  .beneficiary-type {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #ae2e2d;
  }
  
  .beneficiary-iban {
    font-size: 14px;
    color: #666;
  }
  
  .details-button {
    padding: 8px 12px;
    background-color: white; 
    color: #ae2e2d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-decoration: underline;
  }
  
  .details-button:hover {
    /*  background-color: #858f9a; */
  }
  