<!-- <div class="container">
  <div class="first formc">
    <h2>All Mails</h2>
    <button routerLink="/home/SecureMail/compose">
      <img style="width: 35px;height: 35px;" src="../../../assets/pencil-solid.svg" alt="Button Image">
    </button>
  </div>
  <div class="btn-group formc" >
    <button routerLink="/home/SecureMail/inbox">Inbox</button>
    <button routerLink="/home/SecureMail/sent">Sent</button>
  </div>
</div>
<router-outlet></router-outlet> -->



<!-- <div class="container">
  <div class="first formc">
    <h2>All Mails</h2>
    <button (click)="setView('compose')">
      <img style="width: 35px;height: 35px;" src="../../../assets/pencil-solid.svg" alt="Button Image">
    </button>
  </div>
  <div class="btn-group formc">
    <button (click)="setView('inbox')">Inbox</button>
    <button (click)="setView('sent')">Sent</button>
  </div>
</div>
<router-outlet></router-outlet> -->

<div class="container" style="width: 32%; margin-left: 0%;">
  <div class="row mb-3 align-items-center">
    <div class="col">
      <h2>All Mails</h2>
    </div>
    <div class="col text-end">
      <button class="btn btn-link" (click)="setView('compose')">
        <img style="width: 35px; height: 35px;" src="../../../assets/pencil-solid.svg" alt="Button Image">
      </button>
    </div>
  </div>
  <div class="btn-group w-100 mb-3" role="group">
    <button type="button" class="btn btn-primary" (click)="setView('inbox')">Inbox</button>
    <button type="button" class="btn btn-primary" (click)="setView('sent')">Sent</button>
  </div>
</div>
<router-outlet></router-outlet>
